TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
DATABASE_URL=postgresql://user:password@localhost:5432/mydb?sslmode=disable
POSTGRES_DB=mydb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
LLM_PROVIDER=ollama # supported: ollama, gemini
# Ollama settings
OLLAMA_API_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=gemma3
# Gemini settings
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/
GEMINI_MODEL=gemini-2.0-flash
GEMINI_API_KEY=your_gemini_api_key_here
PROMPTS_PATH="llm/prompts/prompts.examples.toml"
# Prompt settings
PROMPTS_PATH="./internal/llm/prompts/prompts.toml"
ENV_FILE_PATH="./env"
#New Relic settings
NEW_RELIC_LICENSE_KEY=aksdjfakldfjdaskfadkls4a52FFFFNRAL
NEW_RELIC_APP_NAME=tldr-llm-telegram-bot-dev
